version: '3'

services:
  redis:
    container_name: redis
    image: redis:alpine@sha256:6a7b3c6e3a6854424d96953172cac1ca97f0fc90094bcc479f3949e29bb053af
    restart: unless-stopped
    command: redis-server --save "" --appendonly "no"
    tmpfs:
      - /var/lib/redis
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    networks:
      - searxng_in

  searxng:
    container_name: searxng
    image: searxng/searxng:latest@sha256:47197f7d6a0db4cc6924c38af9f035c7c209d34d7bbc2f6592417e27994787c7
    restart: unless-stopped
    volumes:
      - ./settings.yml:/etc/searxng/settings.yml
    environment:
      - SEARXNG_BASE_URL=https://searxng.xn--hackerhhle-kcb.org
      - SEARXNG_REDIS_URL=redis://redis
      - SEARXNG_SECRET="{{ searxng_secret_key }}"
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    networks:
      - searxng_ex
      - searxng_in

networks:
  searxng_ex:
    name: searxng_ex
  searxng_in:
    name: searxng_in
