version: '3'

services:
  redis:
    container_name: redis
    image: redis:alpine@sha256:2d44eb73209e5af4118de67e89b01709bfec7cc5a4c1cec29665f6d011c70783
    restart: unless-stopped
    command: redis-server --save "" --appendonly "no"
    tmpfs:
      - /var/lib/redis
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE

  searxng:
    container_name: searxng
    image: searxng/searxng:latest@sha256:baf94d60d5c721b0884bb21961a20d6e305354a2709aaeef166dfff6fd1a0ed1
    restart: unless-stopped
    ports:
     - "127.0.0.1:65529:8080"
    volumes:
      - ./settings.yml:/etc/searxng/settings.yml
    environment:
      - SEARXNG_BASE_URL=https://searxng.xn--hackerhhle-kcb.org
      - SEARXNG_REDIS_URL=redis://redis
      - SEARXNG_SECRET="{{ searxng_secret_key }}"
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
