version: '3'

services:
  libreddit:
    image: libreddit/libreddit:latest@sha256:d9ccef96f565dfee9a7fc8f1b1afddd9567b091b72b969561a149821535a0d19
    ports:
      - 127.0.0.1:65534:8080
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "--tries=1", "http://localhost:8080/settings"]
      interval: 5m
      timeout: 3s
    environment:
      - FRONT_PAGE=popular
      - COMMENT_SORT=new
      - BLUR_NSFW=on
      - USE_HLS=on
      - AUTOPLAY_VIDEOS=off
    user: nobody
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL