version: "3"

services:
  quetre:
    container_name: quetre
    image: quay.io/pussthecatorg/quetre:latest@sha256:acc338507118fa3a3fc90988651d16550746d1097d03f9ba2a830f26f9e8a48b
    restart: unless-stopped
    environment:
      - "NODE_ENV=production"
      - "PORT=3000"
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    networks:
      - quetre

networks:
  quetre:
    name: quetre
