version: "3"

services:
  quetre:
    container_name: quetre
    image: quay.io/pussthecatorg/quetre:latest@sha256:39edd8fb5111e446a08695e24e22c5b30faf0ad82cabd0ae160d0120b0d11f80
    restart: unless-stopped
    environment:
      - "NODE_ENV=production"
      - "PORT=3000"
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    networks:
      - quetre

networks:
  quetre:
    name: quetre
