version: "3"

services:
  quetre:
    container_name: quetre
    image: quay.io/pussthecatorg/quetre:latest@sha256:c20eee45e769b051a28e712d2b1be9f2958114bca9c3e963cb6301eff6e31018
    restart: unless-stopped
    environment:
      - "NODE_ENV=production"
      - "PORT=3000"
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    networks:
      - quetre

networks:
  quetre:
    name: quetre
