version: '3'

services:
  rimgo:
    container_name: rimgo
    image: codeberg.org/rimgo/rimgo:1.2.1@sha256:f582c4ce261e64b2ec9c25adb4e83bff467ad6f51dd15ae906b5feff00a8aaf4
    environment:
      - PRIVACY_COUNTRY=DE
      - PRIVACY_PROVIDER=Xitylight
      - PRIVACY_NOT_COLLECTED=true
      - PRIVACY_IP=false
      - PRIVACY_URL=false
      - PRIVACY_DEVICE=false
      - PRIVACY_DIAGNOSTICS=false
    user: 65534:65534 # equivalent to `nobody`
    security_opt:
      - no-new-privileges:true
    read_only: true
    cap_drop:
      - ALL
    networks:
      - rimgo

networks:
  rimgo:
    name: rimgo
