version: '3'

services:
  anonymousoverflow:
    container_name: anonymousoverflow
    image: codeberg.org/aryak/anonymousoverflow-docker-builds:latest@sha256:ce2b227bf1f2023cf274a474650828961720037dabdfbcc9a5d5f660ca0a69ae
    environment:
      - APP_URL=overflow.xn--hackerhhle-kcb.org
      - JWT_SIGNING_SECRET={{ anonymousoverflow_signing_secret }}
    restart: unless-stopped
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    networks:
      - anonymousoverflow

networks:
  anonymousoverflow:
    name: anonymousoverflow
