version: '3'

services:
  anonymousoverflow:
    container_name: anonymousoverflow
    image: codeberg.org/aryak/anonymousoverflow-docker-builds:latest@sha256:621aea491f436a5f912de229777391b2802d97a3f24ac5bf23f7b7e155339870
    environment:
      - APP_URL=overflow.xn--hackerhhle-kcb.org
      - JWT_SIGNING_SECRET={{ anonymousoverflow_signing_secret }}
    restart: unless-stopped
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    networks:
      - anonymousoverflow

networks:
  anonymousoverflow:
    name: anonymousoverflow
